<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Smoothien nimi tähän</title>
        <meta charset="UTF-8" />
    </head>
    <body>
        <h1>Smoothien nimi tähänkin</h1>

        <ul>
            <li>Raaka-aineet...</li>
            <li>...tulevat...</li>
            <li>...tähän.</li>
        </ul>

        <ul>
            <li>
                <a href="../">Smoothielistaukseen</a>
            </li>
        </ul>
    </body>
</html>
