<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Smoothiet</title>
        <meta charset="UTF-8" />
    </head>

    <body>
        <h1>Smoothielista</h1>

        <ul>
            <li th:each="smoothie : ${smoothiet}">
                <span th:href="@{/smoothie/{id}(id=${smoothie.id})}" th:text="${smoothie.nimi}">Smoothien nimi</span>
            </li>
        </ul>

        <ul>
            <li>
                <a href="/smoothiet">Luo uusi smoothie</a>
            </li>

            <li>
                <a href="/ainekset">Tarkastele ja lisää aineksia</a>
            </li>
        </ul>
    </body>
</html>