<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Smoothiet</title>    
        <meta charset="UTF-8" />
    </head>

    <body>
        <h1>Smoothiet</h1>

        <ul>
            <li th:each="smoothie : ${smoothiet}">
                <a th:href="@{~/smoothiet/{id}(id=${smoothie.id})}">
                    <span th:text="${smoothie.nimi}">Smoothien nimi</span></a>
                (<a th:href="@{~/smoothiet/{id}/poista(id=${smoothie.id})}">poista</a>)
            </li>
        </ul>

        <h4>Lisää uusi</h4>

        <form method="POST" action="">
            Smoothien nimi:<br />
            <input type="text" name="smoothie"/><br />
            <input type="submit" value="Lisää"/>
        </form>

        <h4>Lisää raaka-aineita</h4>

        <form method="POST" action="">
            Smoothien nimi:<br />
            <select name="smoothie">
                <option th:each="smoothie : ${smoothiet}" th:value="${smoothie.id}" 
                        th:text="${smoothie.nimi}">Smoothie</option>
            </select>
            <br />
            Lisättävä raaka-aine:<br />
            <select name="raakaAine">
                <option th:each="aines : ${ainekset}" th:value="${aines.id}" 
                        th:text="${aines.nimi}">RaakaAine</option>
            </select>
            <br />
            Järjestys<br />
            <input type="text" name="jarjestys"></input><br />
            Määrä<br />
            <input type="text" name="maara"></input><br />
            Ohje<br />
            <input type="text" name="ohje"></input><br />
            <input type="submit" value="Lisää"/>
        </form>

        <ul>
            <li>
                <a href="../">Smoothielistaukseen</a>
            </li>
        </ul>
    </body>
</html>
